* {
    box-sizing: border-box ;
    padding: 0;
    margin: 0;
}

body {
    font-family: roboto;
}

/* Hero Main text */
.hero .content h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

/* Hero Secondary text, Header links */
header a, .hero .content p {
    font-size: 18px;
    color: #e5e7eb;
}

/* Header Logo */ 
header .logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 700;
}

header ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
}

header a {
    text-decoration: none;
}

header, .hero {
    background-color: #1f2937;
    padding: 16px 15%;
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.hero {
    padding: 72px 15%;
}

header {
    display: flex;
}

.hero .content {
    max-width: 450px;
}

button, .banner {
    background-color: #3882f6;
    color: white
}

button {
    padding: 8px 32px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 700;
}

.hero .content button {
    border: none;
    margin: 8px 0;
}

.banner button {
    border: 3px solid white;
}

section.content {
}

section.content h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    text-align: center;
    margin: 32px;
}

section.content .information {
    display: flex;
    justify-content: center;
    gap: 24px;
    flex-wrap: wrap;
}

.media {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    padding-bottom: 96px;
}

.media img {
    height: 150px;
    border-radius: 8px;
    border: 3px solid #3882f6;

}

.media p, .media img {
    width: 150px;
}

section.content .quote {
    background-color: #e5e7eb;
    padding: 96px 28%;
}

section.content .quote .quote-text {
    width: 750px;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

section.content .quote .quote-source {
    text-align: right;
    font-size: 18px;
    font-weight: 700;
}

section.content .banner-container {
    background-color: white;
    padding: 96px 15%;
}

section.content .banner {
    border-radius: 8px;
    padding: 4% 10%;
    display: flex;
    justify-content: space-between;
}

section.content .banner .main-message {
    font-size: 20px;
    font-weight: bold;
}

section.content .banner .secondary-message {
    color: lightgrey;
}